@import url('./modal.css');
@import url('./timer.css');

:root {
  font-size: 62.5%;
  --bg-color: #121214;
  --primary-color: #42d3ff;
  --primary-color-light: rgba(66, 211, 255, 0.13);
  --primary-color-dark: #1c333a;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg {
  width: clamp(3.2rem, 2rem + 10vw, 6.4rem);
  height: clamp(3.2rem, 2rem + 10vw, 6.4rem);
}

.hidden {
  display: none;
}